<h1><%= link_to "delete", animal_path(@animal), :method => :delete, :confirm => "are you sure you want to do this?" %></h1>

<h1><%= link_to @animal.name, edit_animal_path(@animal) %></h1>
<p><%= @animal.species %></p>

<%= image_tag @animal.photo %>