$dog-color: #00ff00;


.dog
{
p 
{
	color: $dog-color;
	padding: 20px;
	margin: 10px;
	float: left;
}

b
{
	font-size: 30px;
}



h1
{
	color: $dog-color;
	padding: 20px;
	margin: 10px;
	float: left;
	background-color: red;
}
}
